<h1 align="center">HEAD-TO-HEAD-PERFORMANCE</h1>
<h2 align="center">PLAYER-1 WINS <%=@player1count%>%. PLAYER-2 WINS <%=@player2count%>%</h2>
<br>
<div id="back" align="center">
<%= link_to 'back', new_player_path%>
</div>